.header-dark-theme {
    --header-background-color: black;
    --header-link-color: white;
    --header-link-hover: rgba(103, 106, 109, 0.5);
    --header-dash: #f85e5e;
    --header-shadow-color: rgba(0, 0, 0, 0.76);
}

.header-light-theme {
    --header-background-color: #f1f1f1;
    --header-link-color: black;
    --header-link-hover: rgba(0, 0, 0, .08);
    --header-dash: #1481cb;
    --header-shadow-color: rgba(0, 0, 0, 0.29);
}

.header-green-theme {
    --header-background-color: #1de187;
    --header-link-color: black;
    --header-link-hover: rgba(0, 0, 0, .1);
    --header-dash: #1481cb;
    --header-shadow-color: rgba(180, 180, 180, 0.86);
}

#header {
    --header-height: 3.375rem; /* 54px */
}

#header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 3rem;
    background-color: var(--header-background-color);
    min-height: var(--header-height);
    padding-top: 1rem;
    padding-bottom: 1rem;
    box-shadow: 2px 1px 8px var(--header-shadow-color);
}

#header a {
    color: var(--header-link-color);
    user-select: none;
}

#logo-link {
    font-size: 1.6rem;
    font-weight: 520;
    transition: .2s;
    position: relative;
    margin-left: calc(((100vw - var(--container-width)) / 2) + 2rem);
}

#logo-link:before {
    content: '';
    position: absolute;
    display: block;
    /*noinspection CssUnknownTarget*/
    background: url("images/favicon.png") no-repeat;
    background-size: 2rem;
    width: 2rem;
    height: 2rem;
    right: 8.1rem;
    top: 3px;
}

#logo-link::after {
    content: '';
    display: block;
    border-bottom: 0.2rem solid var(--header-dash);
    width: 3rem;
    border-radius: 5px;
}

#logo-link:hover {
    transform: scale(1.15);
}

#menu {
    display: flex;
    gap: .5rem;
}

#menu a {
    padding: .6rem;
}

#menu a:hover {
    background: var(--header-link-hover);
    border-radius: 5px;
}

#btn-menu-mobile {
    display: none;
}

@media (max-width: 685px) {
    #header {
        justify-content: space-between;
    }

    #menu {
        display: block;
        position: absolute;
        background-color: var(--header-background-color);
        height: 0;
        top: calc(var(--header-height) + 2rem);
        transition: .5s;
        visibility: hidden;
        overflow-y: hidden;
        z-index: 1000;
    }

    #nav {
       margin-right: 18px;
    }

    #nav.active #menu {
        visibility: visible;
        overflow-y: auto;
        height: calc(100vh - var(--header-height));
    }

    #menu a {
        display: block;
        padding: .8rem .4rem;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(0, 0, 0, .5);
    }

    #btn-menu-mobile {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: .5rem 1rem;
        cursor: pointer;
        column-gap: .5rem;
    }

    #hamburger {
        display: block;
        border-top: 2px solid;
        color: black;
        width: 20px;
    }

    #hamburger::before,
    #hamburger::after {
        content: '';
        display: block;
        height: 2px;
        background-color: currentColor;
        margin-top: 4px;
        transition: .3s;
        position: relative;
    }

    #nav.active #hamburger {
        border-top-color: transparent;
    }

    #nav.active #hamburger::before {
        transform: rotate(135deg);
    }

    #nav.active #hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
    }

    #logo-link:hover {
        transform: unset;
    }

    @media (max-width: 322px) {
        #logo-link:before {
            display: none;
        }
    }
}